body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #7EB9D9;
}

header,
footer,
nav,
section {
    display: block;
}

header
{
    background-color: #569BC0;
    position:fixed;
    width:100%;
    height:112px;
    z-index:20;
    padding:5px;
}

/* Styles for basic forms
-----------------------------------------------------------*/

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#corpo
{
    margin: auto;
    margin-top:105px;
    max-width:1200px;
}

.pedido
{
    background-color:White;
    min-height:100px;
    border:2px solid #7EB9D9;
    padding:3px;
}

.PedidoOracao
{
    padding:2px;
    font-size:16px;
}

.Apelido
{
    font-weight:bold;
    padding:2px;
}

.qtdOrando
{
    text-align:right;
    padding-bottom:5px;
}

#versiculo
{
    font-family:ScriptC;
    color: White;
    padding:5px;
}

#versiculo h1
{
    font-size:34px;
    text-align:center;
}

#versiculo p
{
    text-align:right;
    font-size:24px;
    font-weight:bold;
}

.btn-orar {
  color: #333;
  background-color: #FFB66B;
  border-color: #FFC78F;
}
.btn-orar:hover,
.btn-orar:focus,
.btn-orar:active,
.btn-orar.active,
.open .dropdown-toggle.btn-orar {
  color: #333;
  background-color: #E98825;
  border-color: #FFA64C;
}
.btn-orar:active,
.btn-orar.active,
.open .dropdown-toggle.btn-orar {
  background-image: none;
}
.btn-orar.disabled,
.btn-orar[disabled],
fieldset[disabled] .btn-orar,
.btn-orar.disabled:hover,
.btn-orar[disabled]:hover,
fieldset[disabled] .btn-orar:hover,
.btn-orar.disabled:focus,
.btn-orar[disabled]:focus,
fieldset[disabled] .btn-orar:focus,
.btn-orar.disabled:active,
.btn-orar[disabled]:active,
fieldset[disabled] .btn-orar:active,
.btn-orar.disabled.active,
.btn-orar[disabled].active,
fieldset[disabled] .btn-orar.active {
  background-color: #DDD;
  border-color: #ccc;
}
.btn-orar .badge {
  color: #fff;
  background-color: #FFC78F;
}

.publicidade
{
  color:Gray;
  font-size:12px;
}  

.cdo-novotestemunho { width: 320px; height: 50px; }
@media(min-width: 500px) { .cdo-novotestemunho { width: 468px; height: 60px; } }
@media(min-width: 800px) { .cdo-novotestemunho { width: 336px; height: 280px; } }